<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Password Manager</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
  </head>
  <body>
    <header>
      <h1>Password Manager</h1>
    </header>

    <% if session[:message] %>
      <div class="flash-message">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
