<h2>Add a new password</h2>

<form action="/<%= params[:username] %>/passwords" method="post">
  <dl>
    <dt>
      <label for="entry_name">Name</label>
    </dt>
    <dd>
      <input id="entry_name" name="entry_name" type="text" placeholder="Enter the name of the website or service"
       value="<% params[:entry_name] %>" required>
    </dd>
  </dl>

  <dl>
    <dt>
      <label for="entry_username">Username</label>
    </dt>
    <dd>
      <input id="entry_username" name="entry_username" type="text"
       placeholder="Enter your login username or email" value="<%= params[:entry_username] %>" required>
    </dd>
  </dl>

  <dl>
    <dt>
      <label for="entry_password">Password</label>
    </dt>
    <dd>
      <input id="entry_password" name="entry_password" type="password" placeholder="Enter your login password"
      required>
    </dd>
  </dl>

  <dl>
    <dt>
      <label for="entry_notes">Notes</label>
    </dt>
    <dd>
      <textarea id="entry_notes" name="entry_notes" rows="5" cols="80"></textarea>
    </dd>
  </dl>

  <button type="submit">Save</button>
  <a href="/<%= params[:username] %>">Cancel</a>
</form>
