body {
  font: normal 18px Helvetica, Arial, san-serif;
}

dd {
  margin: 0;
}

form input[type="text"],
form input[type="password"],
form textarea {
  width: 70%
}

.flash-message {
  background-color: #eacad6;
  display: inline-flex;
  padding: 10px;
}

.flash-message p {
  color: #b6174b;
  font-weight: bold;
  margin: 0;
}

.date {
  color: #535353;
  font-weight: bold;
}

.time {
  display: block;
  margin-top: 2px;
  font-size: 0.9em;
}

#credentials-list {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 25px 0;
  min-width: 1200px;
  box-shadow: 0 0 5px #cecece;
}

#credentials-list thead tr {
  background-color: #c1c1c1;
  text-align: left;
}

#credentials-list tbody tr:not(:last-child) {
  border-bottom: 3px solid #e9e9e9;
}

#credentials-list th,
#credentials-list td {
    padding: 12px 15px;
}

.overflow {
  width: 40%;
}
