body {
  font: normal 18px Helvetica, Arial, san-serif;
}

dd {
  margin: 0;
}

form input[type="text"],
form input[type="password"] {
  width: 70%
}

.flash-message {
  background-color: #eacad6;
  display: inline-flex;
  padding: 10px;
}

.flash-message p {
  color: #b6174b;
  font-weight: bold;
  margin: 0;
}
